In [1]:
# Importing Pandas 
import pandas as pd

In [2]:
# Reading CSV 
data_df = pd.read_csv("weather_data.csv")

# Reviewing Dataframe
data_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Temperature,Max. Temp.,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,1600108947,-33.59,26.89,14.68,14.68,67,0,8.78
1,1,Dunda,TZ,1600108947,-8.12,34.25,22.13,22.13,49,57,1.87
2,2,Preston,GB,1600108862,53.77,-2.72,20.56,22.00,60,80,2.60
3,3,Ribeira Grande,PT,1600108948,38.52,-28.70,21.00,21.00,52,20,7.70
4,4,Mossamedes,AO,1600108948,-15.20,12.15,18.59,18.59,84,100,3.07

In [3]:
# Renaming "Unnamed" column
data_df = data_df.rename(columns = {"Unnamed: 0": "City ID"})

In [4]:
# Converting dataframe to html file
data_df.to_html("Assets/data_df.html", index = False)